@import '../../../sass/base';

.Button {
    background-color: transparent;
    border: none;
    color: map-get($cores, 'branco');
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;

    &:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }

    &.Danger{
        color: map-get($cores, 'vermelho-escuro');
    }

    &.Success{
        color: map-get($cores, 'verde-escuro');
    }

    &:disabled{
        color: map-get($cores, 'cinza-claro');
        cursor: not-allowed;
    }

    &.DrawerToggle {
        width: 40px;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        justify-content: space-around;
        cursor: pointer;

        div {
            width: 90%;
            height: 3px;
            background-color: map-get($cores, 'branco');
        }

        @media (min-width: 500px) {
            display: none;
        }
    }
}
