$cores: (
    'branco':           #fff,
    'cinza-claro':      #c9c9c9,
    'amarelo-escuro':   #f4d004,
    'amarelo-claro':    #d6bb22,
    'verde-escuro':     #228c1d,
    'verde-claro':      #91ce50,
    'marrom-escuro':    #702e05,
    'marrom-medio':     #7f3608,
    'marrom-claro':     #c15711,
    'pastel-escuro':    #7E7365,
    'pastel-claro':     #AC9980,
    'vermelho-escuro':  #bf3813,
    'laranja-escuro':   #e27b36,
    'laranja-claro':    #F08E4A    
);